<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon src='/appvotestatic/svg/md-menu.svg'></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Friends</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <div *ngIf="items && items.length == 0">
      No items to display.
  </div>
  <ion-list>
    <ion-item button *ngFor="let item of items">
      <span>{{item.transaction.relationship.their_username}}</span>
    </ion-item>
  </ion-list>
</ion-content>
