<ion-card *ngIf="cardType == 'topic'">
  <ion-card-header>
    <ion-card-subtitle>{{item.fee}} YADA - {{item.time}}</ion-card-subtitle>
    <ion-card-title>
      <a href="#" (click)="viewProfile(item)">{{item.relationship.my_username || 'Anonymous'}}</a> from 
      <a href="#" (click)="openGroup(group)">{{item.relationship.their_username}}</a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.relationship.groupChatText || 'Anonymous'}}
    <app-vote [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-vote>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="cardType == 'group'">
  <ion-card-header>
    <ion-card-subtitle>{{item.fee}} YADA - {{item.time}}</ion-card-subtitle>
    <ion-card-title (click)="viewProfile(item)">
        <a href="#" (click)="viewProfile(item)">{{item.relationship.my_username || 'Anonymous'}}</a> talking about 
        <a href="#" (click)="openTopic(topic)">{{item.relationship.topic_their_username}}</a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.relationship.groupChatText || 'Anonymous'}}
    <app-vote [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-vote>
  </ion-card-content>
</ion-card>