<ion-card *ngIf="cardType == 'topic' && item.relationship" (click)="isolateCard()">
  <ion-card-header>
    <ion-card-subtitle>{{item.fee}} YADA - {{item.time}}</ion-card-subtitle>
    <ion-card-title>
      <a href="#">{{item.relationship.my_username || 'Anonymous'}}</a> from 
      <a href="#">{{item.relationship.their_username}}</a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.relationship.groupChatText || 'Anonymous'}}
    <app-vote [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-vote>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="cardType == 'group' && item.relationship" (click)="isolateCard()">
  <ion-card-header>
    <ion-card-subtitle>{{item.fee}} YADA - {{item.time}}</ion-card-subtitle>
    <ion-card-title>
        <a href="#">{{item.relationship.my_username || 'Anonymous'}}</a> talking about 
        <a href="#">{{item.relationship.topic_their_username}}</a>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.relationship.groupChatText || 'Anonymous'}}
    <app-vote [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-vote>
  </ion-card-content>
</ion-card>
<ion-card *ngIf="cardType == 'replies' && item.relationship" (click)="isolateCard()">
  <ion-card-header>
    <ion-card-subtitle>{{item.fee}} YADA - {{item.time}}</ion-card-subtitle>
    <ion-card-title>
        <a href="#">{{item.relationship.my_username || 'Anonymous'}}</a> responded
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{item.relationship.groupChatText || 'Anonymous'}}
    <app-vote [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-vote>
  </ion-card-content>
</ion-card>