<ion-list lines="none" *ngIf="groups && groups.length > 0">
  <h1>{{rootGroup.transaction.relationship.their_username}}</h1>
  <ion-row *ngFor="let group of groups">
    <div class="scrolling-wrapper-flexbox" scrollX="true">
      <div scrollX="true" direction="x" *ngFor="let item of group.chats" class="card">
        <ion-col col-4>
          <app-card cardType="group" [item]="item" [votes]="votes" [parentComponent]="parentComponent"></app-card>
        </ion-col>
      </div>
    </div>
  </ion-row>
</ion-list>