<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-toggle>
          <ion-button>
            <ion-icon src='/appvotestatic/svg/md-menu.svg'></ion-icon>
          </ion-button>
        </ion-menu-toggle>
      </ion-buttons>
      <ion-title *ngIf="!params.id">Trending topics</ion-title>
      <ion-title *ngIf="params.id">Topic</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ng-container *ngFor="let static_group of settingsService.static_groups">
      <h1>{{static_group.relationship.their_username}}</h1>
      <app-post-button
       [staticGroup]="static_group"
       [parentComponent]="thisComponent"
      ></app-post-button>
      <ng-container *ngIf="topicGroups[static_group.rid]">
        <app-post-card-list
          [rootGroup]="rootGroup"
          *ngFor="let rootGroup of topicGroups[static_group.rid]"
          listType="topic"
          [parentComponent]="thisComponent"
        ></app-post-card-list>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
