<ion-header>
  <ion-toolbar>
    <ion-title>topics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="loading"></ion-spinner>
  <ion-list>
    <ng-container *ngFor="let static_group of settingsService.static_groups">
      <h1>{{static_group.relationship.their_username}}</h1>
      <app-post-button [staticGroup]="static_group"></app-post-button>
      <app-topic-card-list
        [rootGroup]="rootGroup"
        *ngFor="let rootGroup of topicGroups[static_group.rid]"
      ></app-topic-card-list>
    </ng-container>
  </ion-list>
</ion-content>
