<ion-content class="ion-padding">
  <ion-textarea
   placeholder="What's on your mind? 'Identify as a :turtle and I'm talking about #turtles and I think other turtles need to come out of their shell!''"
   [mentionConfig]="mentionConfig"
   (keyup)="change()"
   (searchTerm)="search($event)"
   [(ngModel)]="groupChatText"
   maxlength="280"
   rows="25"
  ></ion-textarea>
  <ion-button (click)="closeModal()" class="back" fill="outline">
    <ion-icon slot="icon-only" src="/appvotestatic/svg/md-arrow-back.svg"></ion-icon>&nbsp;Back
  </ion-button>
  <ion-button button (click)="submit()" class="post" fill="outline">
      <ion-icon slot="icon-only" src="/appvotestatic/svg/md-create.svg"></ion-icon>&nbsp;Post
  </ion-button>
  <ul>
    <li *ngIf="topic && group">I identify with {{group.relationship.their_username}} and I'm talking about {{topic.relationship.their_username}}</li>
  </ul>
</ion-content>