<ion-header>
  <ion-toolbar>
    <ion-title>post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-card
    [item]="item"
    [cardType]="cardType"
    [votes]="votes"
    [parentComponent]="thisComponent"
  ></app-card>
  <app-post-button
    *ngIf="topic && group"
    [topic]="topic"
    [group]="group"
    [post]="item"
    [staticGroup]="staticGroup"
    [parentComponent]="thisComponent"
  ></app-post-button>
  <app-post-card-list
    *ngIf="transaction.transaction && transaction.transaction.posts"
    [rootGroup]="transaction"
    listType="replies"
    [parentComponent]="thisComponent"
  ></app-post-card-list>
</ion-content>
