<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon src='/appvotestatic/svg/md-menu.svg'></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <h3>Identities</h3>
  <button ion-button secondary (click)="createKey()">Create</button>
  <button ion-button secondary (click)="signinCode()">Signin code</button>
  <button ion-button secondary (click)="importKey()">Import</button>
  <ion-list>
    <ion-item button (click)="selectIdentity(key.username)" *ngFor="let key of keys">
      {{key.username}}
    </ion-item>
  </ion-list>
</ion-content>
